body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: #FFFFFF;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
  color: #FFFFFF;
  font-family: inherit;
  background-color: #2196F3;
  fill: #FFFFFF;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

img {
  display: inline-block;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  text-decoration: none;
  font-style: normal;
  color: #2196F3;
  fill: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  color: #212121;
  font-size: 28px;
  margin-bottom: 30px;
}

.dont-display {
  display: none;
}

.section {
  margin-top: 60px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
}

.logo__left {
  color: #2196F3;
}

.logo__right--dark {
  color: #212121;
}

.logo__right--light {
  color: #FFFFFF;
}

.header__mobile-block.is-open {
  position: static;
}

.header__container {
  min-height: 60px;
  width: 100%;
  margin: 0;
}

.header__fixator {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px 0 15px;
}

.is-open .logo {
  display: none;
}

.menu-button {
  fill: #212121;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button__icon-close {
  display: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.menu-button__icon-open {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__icon-open:hover, .menu-button__icon-open:focus {
  fill: #2196F3;
}

.menu-button.is-open .menu-button__icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button.is-open .menu-button__icon-close:hover, .menu-button.is-open .menu-button__icon-close:focus {
  fill: #2196F3;
}

.menu-button.is-open .menu-button__icon-open {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mobile-container {
  padding-left: 40px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.mobile-container.is-open {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-container__bottom {
  position: relative;
  bottom: 0;
}

.pages {
  margin: -18px 0 0 0;
}

.pages__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages__link--opened {
  color: #2196F3;
}

.pages__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts__link--mail {
  font-size: 24px;
  line-height: 1.16667;
  color: #757575;
}

.contacts__link--tel {
  font-size: 34px;
  line-height: 1.17647;
  color: #2196F3;
}

.contacts__icon {
  display: none;
}

.header-socnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 32px;
}

.header-socnet__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header-socnet__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.header-socnet__item:not(:first-child) {
  margin-left: 10px;
}

.backdrop {
  display: none;
}

address {
  font-style: normal;
}

.footer {
  background-color: #2F303A;
  text-align: center;
  padding-top: 60px;
}

.footer__social-networks {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px/14px;
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address__location {
  color: #FFFFFF;
}

.address__contacts {
  color: #757575;
}

.subscribe__container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px/16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  padding-left: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__button {
  margin: 20px auto 60px auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.social-networks--team {
  margin: 16px 32px 30px 16px;
  padding-bottom: 24px;
}

.social-networks--footer {
  margin-top: 20px;
}

.social-networks__list {
  width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-networks__list--team {
  height: 44px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-networks__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-radius: 100%;
  fill: #AFB1B8;
  background: #FFFFFF;
}

.social-networks__link--footer {
  background: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
}

.social-networks__link:hover, .social-networks__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.hero {
  margin: 60px auto 0 auto;
  min-height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.hero__button {
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}

.benefits__list {
  padding-left: 0;
}

.benefits__item:not(:first-child) {
  margin-top: 30px;
}

.benefits__icon {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__name {
  font-weight: 700;
  line-height: 1.14286;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.benefits__description {
  line-height: 1.71429;
}

.duties {
  display: none;
}

.team-members {
  background-color: #F5F4FA;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.team-members__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  min-height: 368px;
  display: block;
}

.team-members__item:not(:first-child) {
  margin-top: 30px;
}

.team-members__img {
  width: 100%;
}

.team-members__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
  text-align: center;
  margin-top: 30px;
}

.team-members__profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-top: 10px;
}

.clients {
  background-color: #FFFFFF;
  text-align: center;
}

.clients__list {
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.clients__icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  fill: #2196F3;
}
/*# sourceMappingURL=main.css.map */