.benefits{ 

    &__container {
        @include desktop {
            
            padding-bottom: 0;
        }
    }
   
    &__list {
        padding-left: 0;
        display: block;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
            padding-left: -15px;
            padding-right: -15px;
        }

        @include desktop {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding-bottom: 0;
        }
    }

    &__item {
        
        &:not(:first-child) {

            @include upToTablet{
                margin-top: 30px;
            }

        }

        @media screen and (min-width: 768px) and (max-width: 1199px)       {
            //width: calc((100% - 60px) / 2);
            //margin: 15px;
            width: 354px;
        }

        @include desktop {
            width: 270px;
        }

        &:first-child {
            @include desktop {
                margin-left: 0;
            }
        }

        &:last-child {
            @include desktop {
                margin-right: 0;
            }
        }

        

    }

    &__icon {
        height: 120px;
        background: $light-additional--background-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__name {
        font-weight: 700;
        line-height: calc(16px / $main--font-size);
        text-transform: uppercase;
        text-align: center;
        color: $heading--text-color;
        margin-bottom: 10px;
        margin-top: 30px;

        @include tablet {
            text-align: left;
        }
    }
    
    &__description {
        line-height: calc(24px / $main--font-size);
    }
    
}