.benefits{ 

    @include tablet {
        margin-top: 45px;
    }

    &__container {
        @include tablet {
            margin: 0;
        }

        @include desktop {
            margin: 0 auto;
        }
    }

    &__list {
        padding-left: 0;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        @include desktop {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__item {
        

        @include tablet {
            width: calc((100% - 60px) / 2);
            margin: 15px;
        }

        @include desktop {
            width: 270px;
        }

        &:first-child {
            @include desktop {
                margin-left: 0;
            }
        }

        &:last-child {
            @include desktop {
                margin-right: 0;
            }
        }

        &:not(:first-child) {

            @include mobile{
                margin-top: 30px;
            }

        }

    }

    &__icon {
        height: 120px;
        background: $light-additional--background-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__name {
        font-weight: 700;
        line-height: (16px/$main--font-size);
        text-transform: uppercase;
        text-align: center;
        color: $heading--text-color;
        margin-bottom: 10px;
        margin-top: 30px;

        @include tablet {
            text-align: left;
        }
    }
    
    &__description {
        line-height: (24px/$main--font-size);
    }

}