.clients {
    background-color: $main--background-color;
    text-align: center;

    &__list {
        padding-bottom: 45px;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        margin: 15px;
        width: calc((100% - 60px) / 2);
        border: 1px solid $clients--border-color;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: border-color $animation;

        &:hover,
        &:focus {
        border: 1px solid $main--hfa-color;
        fill: $main--hfa-color;
        }
    }
    
    &__icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: $clients--border-color;
        transition: fill $animation;
    
        &:hover,
        &:focus {
        fill: $main--hfa-color;
        }
    }

}