.hero {
    margin-top: 60px;
    background-image: linear-gradient(to right, $hero-image--shadow-color, $hero-image--shadow-color),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}