.team-members {
    background-color: $light-additional--background-color;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;

    &__title {
        @include tablet {
            margin-bottom: 0;
        }

        @include desktop {
            margin-bottom: 50px;
        }
    }

    &__list {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }


    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: $main--background-color;
        min-height: 368px;
        display: block;

        @include tablet {
            min-height: 536px;
            max-width: 354px;
            margin-top: 30px;
        }

        @include desktop {
            min-height: 428px;
            max-width: 270px;
        }


        @include mobile {
            &:not(:first-child) {
                margin-top: 30px;
            }
         }

        
    }

    &__img {
        width: 100%;
    }
    

    &__name {
        font-weight: 500;
        font-size: $team--font-size;
        line-height: calc(19px / $team--font-size);
        color: $heading--text-color;
        text-align: center;
        margin-top: 30px;
    }

    &__profession {
        font-size: $team--font-size;
        line-height: calc(19px / $team--font-size);
        text-align: center;
        margin-top: 10px;
    }

}

