address {
    font-style: normal;
}

.footer {
    background-color: $footer--background-color;
    text-align: center;
    padding-top: 60px;


    &__social-networks {
        margin-top: 60px;
        margin-bottom: 60px;
    
    }

    &__title {
        color: $light-main--text-color;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 16px/14px;
    }
    
}

.address {

    &__list {
        margin-top: 20px;
        
    }

    &__item:not(:first-child) {
        margin-top: 8px;
    }

    &__location {
        color: $light-main--text-color;
    }

    &__contacts {
        color: $dark-main--text-color;
        
    }
}

    .subscribe {

        &__container {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

        }


        &__input {
            height: 50px;
            border: 1px solid $sucscribe--border-color;
            box-sizing: border-box;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            font-size: $subscribe-area--font-size;
            line-height: 20px/16px;
            color: $light-additional--text-color;
            background-color: inherit;
            padding-left: 16px;
            align-items: center;
        }

        &__button {
            margin: 20px auto 60px auto;
            width: 200px;
            height: 50px;
            border-radius: 4px;
            font-weight: 700;
            letter-spacing: 0.06em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
          }
}

