.header {

    position: relative;
        
    &__container {
        min-height: 60px;
        width: 100%;margin: 0;

    }

    &__fixator {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $main--background-color;
        @include border-bottom ($header--border-color);
    }

    &__nav {
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 22px 0 15px;
    }

}

.menu-button {
    fill: $menu-button--background-color;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;



    &__icon-close {
        display: none;
        transition: fill $animation;
    }

    &__icon-open {
        transition: fill $animation;

        &:hover, &:focus {
            fill: $main--hfa-color;
        }
    }

    &.is-open .menu-button__icon-close {
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover, &:focus {
            fill: $main--hfa-color;
        }
    }

    &.is-open .menu-button__icon-open {
        display: none;
    }

    @include tablet {
        display: none;
    }
}

.mobile-container {
    padding-left: 40px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $main--background-color;
    
    &.is-open {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bottom {
        position: relative;
        bottom: 0;
    }
}

.pages {
    margin: -18px 0 0 0;

    &__link {

        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: $pages-mm--font-size;
        line-height: (47px/$pages-mm--font-size);
        color: $heading--text-color;
        transition: color $animation;

        &--opened {
            color: $main--hfa-color;
        }

    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

}

.contacts {

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: (28px+32px+40px);

    &__link {

        font-weight: 500;
        letter-spacing: 0.02em;
        
        &--mail {
            font-size: $email-mm--font-size;
            line-height: (28px/$email-mm--font-size);
            color: $dark-main--text-color;
            
        }
        
        &--tel {
           font-size: $phone-mm--font-size;
           line-height: (40px/$phone-mm--font-size);
           color: $main-accent--text-color;
        }
    }

    &__icon {
        display: none;
    }
}

.header-socnet {
    display: flex;
    margin-top: 64px;
    margin-bottom: 32px;

    &__link {
        font-weight: 500;
        font-size: $social-networks-mm--font-size;
        line-height: (22px/$social-networks-mm--font-size);
        letter-spacing: 0.02em;
        color: $main-accent--text-color;

    }

    &__item {
        &:not(:last-child) {
            @include border-right ($socnet-header--border-color);
            padding-right: 10px;
        }

        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    

}