.header {
        
    &__container {
        min-height: 60px;
        width: 100%;
        margin: 0;

        @include tablet {
            min-height: 80px;
        }
    }

    &__fixator {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $main--background-color;
        @include border-bottom ($header--border-color);
        z-index: 2;

        &.is-open {
            @include border-bottom ($main--background-color);
        }


        &.is-open .menu-button__icon-close {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    
        &.is-open .menu-button__icon-open {
            display: none;
        }

        &.is-open .header__nav {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__nav {
        min-height: 60px;
        display: flex;
        align-items: center;
        padding: 0 22px 0 15px;

        @include mobile {
            justify-content: space-between;
        }

        @include tablet {
            min-height: 80px;
        

        }
    }

}

@include mobile {
    .is-open .logo {
        display: none;
    }
}


.menu-button {
    fill: $menu-button--background-color;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 4;

    &:hover {
        fill: $main--hfa-color;
    }


    &__icon-close {
        display: none;
        transition: fill $animation;
        
        
    }

    &__icon-open {
        transition: fill $animation;

    }

    &.is-open .menu-button__icon-close {
        display: flex;
        justify-content: center;
        align-items: center;
        

    }

    &.is-open .menu-button__icon-open {
        display: none;
    }

    @include tablet {
       display: none;
    }
}

.mobile-container {
    
    @include mobile {
        display: none;
        box-sizing: border-box;
        padding-left: 40px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $main--background-color;
        margin: -66px 0 0 0;
        padding-top: 48px;
        overflow: scroll;
        z-index: 3;

        &.is-open {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }

        

        &__bottom {
            position: relative;
            bottom: 0;
        }
    
    }

    display: flex;
    justify-content: space-between;

    &__top {
        display: flex;
        align-items: center;
    }
}

.pages {

    @include tablet {
        display: flex;
        align-items: center;
        padding-left: 84px;
        padding-right: 84px;
    }

    &__link {

        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: $pages-mm--font-size;
        line-height: (47px/$pages-mm--font-size);
        color: $heading--text-color;
        transition: color $animation;

        @include tablet {
            font-size: 14px;
            line-height: 16/14;
            letter-spacing: 0.02em;

            &:hover::after,
            &:focus::after {
              display: block;
              width: 100%;
              height: 4px;
              background-color: #2196f3;
              content: '';
              border-radius: 2px;
              position: absolute;
              top: 46px;
            }
            
            &--active {
              color: #2196f3;
            }
            
            &--active::after {
              top: 46px;
              background-color: #2196f3;
            }
        }

        &--opened {
            color: $main--hfa-color;
        }

    }

    &__item:not(:last-child) {
        margin-bottom: 32px;

        @include tablet {
            margin: 0 50px 0 0;
        }
    }

    

    

}

.contacts {

    @include mobile {

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height: (28px+32px+40px);

        &__link {

            font-weight: 500;
            letter-spacing: 0.02em;
            
            &--mail {
                font-size: $email-mm--font-size;
                line-height: (28px/$email-mm--font-size);
                color: $dark-main--text-color;
                
            }
            
            &--tel {
            font-size: $phone-mm--font-size;
            line-height: (40px/$phone-mm--font-size);
            color: $main-accent--text-color;
            }
        }

        &__icon {
            display: none;
        }
    
    } 
}

.header-socnet {

    @include tablet {
        display: none;
    }

    

    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 32px;

    &__link {
        font-weight: 500;
        font-size: $social-networks-mm--font-size;
        line-height: (22px/$social-networks-mm--font-size);
        letter-spacing: 0.02em;
        color: $main-accent--text-color;

        

    }

    &__item {
        &:not(:last-child) {
            @include border-right ($socnet-header--border-color);
            padding-right: 10px;
        }

        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    
    
}