.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: $logo--font-size;
    line-height: (28/24);

    @include desktop {
        font-size: 26px;
        line-height: (31/26);
    }

    &__left {
        color: $main-accent--text-color;
    }

    &__right {
        &--dark {
            color: $heading--text-color;
        }
        &--light {
            color: $light-main--text-color;
        }
    }

    
}