.portfolio {

    
    &__title {
        display: none;
    }
}  
  .filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    //padding-top: 60px;

    @include tablet {
        justify-content: center;
    }

    @include desktop {
        //padding-top: 94px;
    }
    
    &__item {
        margin-bottom: 10px;
    
        &:not(:last-child) {
            margin-right: 8px;
        }

        
    }   

    &__button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: $heading--text-color;
        background-color:  $light-additional--background-color;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        padding: 6px 22px;
        transition: color $animation, background-color $animation, box-shadow $animation;
    
        &:hover,
        &:focus,
        &:active {
        color: $light-main--text-color;
        background-color: $main--hfa-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        
        }


        &--active {
            background-color: $button--background-color;
            color: $light-main--text-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
  
}
  .works {
    margin-top: 32px;
    //margin-bottom: 60px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin: 5px -15px 45px -15px;
    }  
    
    @include desktop {
        justify-content: space-between;
        margin: 40px 0 0 0;
    }
    &__item {
        
        transition: box-shadow $animation;

        @include tablet {
            width: calc((100% - 60px) / 2);
            margin: 15px;
        }

        @include desktop {
            width: calc((100% - 60px) / 3);
            margin: 0;
        }
    
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__img {
        width: 100%;
        max-height: 294px;
        
    }
    
    &__caption {
        margin: 0;
        padding: 0;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    
    
    &__link {
        text-decoration: none;
        font-style: normal;
        color: inherit;
        display: block;
    }
    
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $heading--text-color;
        padding: 20px 24px 0px 24px;
    }
    
    &__type {
        font-size: 16px;
        line-height: 1.88;
        color: inherit;
        padding: 4px 24px 20px 24px;
        
    }
    
    &__picture {
        position: relative;
        overflow: hidden;
    }
    
    &__overlay {
        content: '';
        padding: 63px 24px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        transform: translateY(100%);
        transition: transform $animation;
    }
    
    &__item:hover .works__overlay,
    &__item:hover .works__overlay {
        transform: translateY(0);
    }
}


  
  