body {
    color: $dark-main--text-color;
    font-family: Roboto, sans-serif;
    font-size: $main--font-size;
    background-color: $main--background-color;  
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}