@mixin mobile () {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }
  
  @mixin tablet () {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @mixin upToTablet () {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }
  
  @mixin desktop () {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }

  @mixin border ($color) {
    border: 1px solid $color;
  }

  @mixin border-bottom ($color) {
    border-bottom: 1px solid $color;
  }

  @mixin border-right ($color) {
    border-right: 1px solid $color;
  }