//цвета
//text-color
$dark-main-text-color: #757575;
$light-main-text-color: #FFFFFF;
$heading-text-color: #212121;
$main-accent-text-color: #2196F3;
$additional-accent-text-color: rgba(255, 255, 255, 0.6);

//background-color
//acent-color
//shadow-color
//border-color

//цифры
//font-size
//line-height
//font-weight

//анимация