//colors

    //text-color
    $dark-main--text-color: #757575;
    $light-main--text-color: #FFFFFF;
    $heading--text-color: #212121;
    $main-accent--text-color: #2196F3;
    $light-additional--text-color: rgba(255, 255, 255, 0.6);
    $dark-additional--text-color:rgba(117, 117, 117, 0.5);

    //background-color
    $main--background-color: #FFFFFF;
    $light-additional--background-color: #F5F4FA;
    $dark-additional--background-color: rgba(255, 255, 255, 0.1);
    $footer--background-color: #2F303A;
    $button--background-color: #2196F3;
    $modal-overlay--background-color: rgba(0, 0, 0, 0.2);
    $card-overlay--background-color: rgba(33, 150, 243, 0.9);
    
    

    //hover+focus+active colors
    $main--hfa-color: #2196F3;
    $button--hfa-color: #188CE8;

    //shadow-color


    //border-color
    $sucscribe--border-color: rgba(255, 255, 255, 0.3);

//numbers

    //font-size

        //pages
        
            $main--font-size: 14px;
            $desktop-main--font-size: 16px;
            
            $button--font-size: 16px;

            $team--font-size: 16px;
            
            $subscribe-area--font-size: 16px;

            //logo
            $logo--font-size: 24px;
            $desktop-logo--font-size: 26px;


            //hero
            $hero--font-size: 26px;
            $desktop-hero--font-size: 44px;

            //section title
            $section--font-size: 28px;
            $desktop-section--font-size: 36px;
                     
            //portfolio cards
            $portfolio--font-size: 16px;
            $portfolio-title--font-size: 18px;
        

        //mobile menu
        $pages-mm--font-size: 40px;
        $phone-mm--font-size: 34px;
        $email-mm--font-size: 24px;
        $social-networks-mm--font-size: 18px;

        //modal
        $main-modal--font-size: 12px;
        $additional-modal--font-size: 14px;
        $title-modal--font-size: 20px;


    //line-height
    //font-weight
    //border-radius

//анимация